<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SalaClases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="salaNameInput">
    <ion-label position="floating" >Ingresa el nombre de la sala de clases</ion-label>
    <ion-input [(ngModel)] ="sala.nombre">Crear Sala</ion-input>


    <ion-button (click)="crearSala()">Crear sala</ion-button>
  </div>
  
  @if (salaArray.length > 0) {
    @for (s of salaArray; let i = $index; track i) {
      <mat-card class="cardSala" id="{{s.id}}" card>
        <mat-card-header>
          <mat-card-title>Sala: {{s.nombre}} (ID: {{s.id}})</mat-card-title>
        </mat-card-header>  
        <mat-card-content>
          <app-alumno [salaID]="s.id"></app-alumno>  
          @if (s.alumnos) {
            @for (alumno of s.alumnos; let i = $index; track i) {
              <ion-list>
                <ion-item>
                  <ion-label>{{alumno.nombre}}</ion-label>
                  <ion-checkbox slot="end" (ionChange)="marcarAsistencia(alumno.id, alumno.idSala)" [checked]="alumno.asistencia"></ion-checkbox>
                </ion-item>
            </ion-list>   
            } 
          }
          
        </mat-card-content>
      </mat-card>
    }
  } 

</ion-content>
