<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Inicio</ion-title>
    <ion-button slot="end" fill="clear">{{ loggedUserName }}</ion-button>
    <ion-button slot="end" (click)="logout()" fill="clear">
      <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="welcome-section">
    <h2 class="welcome-text">¡Hola, {{ loggedUserName }}! Te has logueado correctamente.</h2>
  </div>

  <h1 class="main-title">Bienvenido a RegistraAPP</h1>
  <p class="subtitle">Tu plataforma de registro de asistencia</p>

 
  <div class="button-container">
    <ion-button class="styled-button" shape="round" expand="block" [routerLink]="['/login']">
      Iniciar Sesión
    </ion-button>

    <div class="forgot-password">
      <ion-text>¿Olvidaste tu contraseña? Recuperarla </ion-text>
      <ion-text color="primary" [routerLink]="['/login']">aquí</ion-text>
    </div>
  </div>
</ion-content>

