/* Header */
.header-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--ion-color-dark); /* Texto oscuro */
}

.user-name {
  font-size: 1rem;
  color: var(--ion-color-primary); /* Azul corporativo */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es largo */
  max-width: 100px; /* Limitar ancho */
}

ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-buttons {
  display: flex;
  gap: 8px; /* Espaciado entre botones */
}

/* Responsividad del Header */
@media (max-width: 768px) {
  .header-title {
    font-size: 1.2rem;
  }

  .user-name {
    font-size: 0.9rem;
    max-width: 80px; /* Reducir ancho máximo */
  }

  ion-buttons {
    gap: 4px; /* Menos espacio entre botones */
  }
}

/* Contenido Principal */
.home-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Sección de Bienvenida */
.welcome-section {
  margin-top: 20px;
}

.welcome-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.welcome-section p {
  font-size: 1.1rem;
  color: var(--ion-color-medium);
}

/* Título Principal */
.main-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--ion-text-color, #666);
  margin-bottom: 20px;
}

.scan-button {
  margin-top: 20px;
}

.scan-result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: center;
}
