<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menú en la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="header-title">Inicio</ion-title>

    <!-- Nombre del usuario con botón hacia el perfil -->
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/perfil']">
        <ion-label class="user-name">{{ loggedUserName }}</ion-label>
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <!-- Sección de Bienvenida -->
  <div class="welcome-section">
    <h2 class="welcome-text">¡Hola, {{ loggedUserName }}!</h2>
    <p>Te has logueado correctamente.</p>
  </div>

  <!-- Título principal -->
  <h1 class="main-title">Bienvenido a RegistraAPP</h1>
  <p class="subtitle">Tu plataforma de registro de asistencia</p>
</ion-content>
